body {
    background-color: rgb(198, 225, 247);
}

button {
    background-color: transparent;
    border: none;
}


/*ToDoApp.js*/

.to-do-main-app {
    margin: auto;
    width: 100%;
    max-width: 450px;
    height: 49.5rem;
    background-color: rgb(239, 245, 250);
}

.to-do-main-app-img {
    margin: 0.2rem 0.4rem;
    background-image: linear-gradient(rgb(37, 82, 179), rgb(45, 146, 230));
}

.to-do-main-app-icon {
    background-color: rgb(25, 67, 158);
}


/*ToDoInput.js*/

.to-do-main-app-header {
    height: 8.5rem;
    margin: auto;
    text-align: center;
    border-radius: 0 0% 12% 12%;
    background-image: linear-gradient(rgb(37, 82, 179), rgb(45, 146, 230));
}

.to-do-main-app-header p {
    margin: 0;
    font-size: 1.7rem;
    color: rgb(180, 209, 235);
}

.to-do-input {
    display: flex;
    justify-content: center;
    width: 95%;
    margin: auto;
}

.to-do-input-form {
    width: 90%;
}

.to-do-input input {
    width: 98%;
    height: 2rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    outline: none;
    border: 2px solid rgb(45, 146, 230);
    ;
    background-color: rgb(210, 226, 240)
}

.to-do-input button {
    margin: 3% 40%;
    padding: 2% 7%;
    background-image: linear-gradient(rgb(37, 82, 179), rgb(45, 146, 230));
    font-size: 1.15rem;
}

.to-do-task-details ul {
    display: inline-block;
    margin: 0.7rem;
    padding: 0;
    list-style: none;
}

.to-do-task-details li {
    display: inline;
    margin: 1.5rem;
    font-size: 1.7rem;
    color: rgb(180, 209, 235)
}

.to-do-task-details button {
    font-size: 2rem;
}

.to-do-task-details img {
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    vertical-align: middle;
}


/*ToDoList.js*/

.to-do-list {
    width: 95%;
    margin: auto;
    padding: auto;
    overflow-y: auto;
    height: 29.1rem;
}

.to-do-list-items {
    margin: 0.8rem 0.3rem;
}

.to-do-list-item {
    display: flex;
    padding: 0.5rem 0;
}

.to-do-list-item button {
    margin-left: 0.5rem;
    padding: 0.1rem 0.25rem;
    background-image: linear-gradient(rgb(37, 82, 179), rgb(45, 146, 230));
}

.to-do-list-item-checkbox {
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-image: linear-gradient(rgb(37, 82, 179), rgb(45, 146, 230));
    border: none;
}

.to-do-list-item-btn button {
    background-image: none;
    background-color: rgb(180, 209, 235);
    opacity: 0.3;
}

.to-do-list-item article {
    width: 66%;
    font-size: 1.2rem;
}

hr {
    background-color: rgb(37, 82, 179);
    border: none;
    outline: none;
    height: 0.07rem;
    width: 98%;
}

.empty {
    padding: 55% 25%;
    font-size: 1.8rem;
    color: rgb(167, 163, 163);
}

.clear {
    margin-left: 45%;
}

.img-width-add-clear {
    width: 30px;
}


/*ToDoAlert.js*/

.to-do-alert {
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem
}

@media (min-width: 1000px) {
    .to-do-main-app {
        height: 38.5rem;
    }
    .to-do-main-app-header {
        height: 8rem;
    }
    .to-do-main-app-header p {
        font-size: 1.3rem;
    }
    .to-do-input-form {
        width: 98%;
    }
    .to-do-input input {
        width: 80%;
    }
    .to-do-input button {
        margin: 3% 1%;
        padding: 2% 4%;
    }
    .to-do-task-details li {
        font-size: 1.2rem;
    }
    .to-do-list {
        height: 20rem;
    }
    .to-do-list-item {
        padding: 0.2rem 0;
    }
    .to-do-list-item article {
        font-size: 1.1rem;
    }
    .to-do-list-item-btn {
        margin-left: 1.2rem;
    }
    .to-do-list-item-btn {
        margin-left: 0.7rem;
        padding: 0 0.2rem;
    }
    .empty {
        padding: 30% 34%;
    }
}